.todo {
padding-top: 50px;

}
body{
    background-color: #f5f5f5;
}

.titulo {
    font-size: 50px;
    color: rgb(94, 94, 94);


}

.table-wrapper {
    background: #fff;
    padding: 20px 25px;
    margin: 30px 0;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

#map {
    position: relative;
    border: 1px solid black;
    border-radius: 8px;
    height: 600px;  /* or as desired */
    width: 100%;  /* This means '100% of the width of its container', the .col-md-8 */
  
}

#vertalleres{
    height: 600px;
    width: 100%;
}

#columnaTalleres{
    overflow: auto;
}

.imagen{
    width: 100%;
    height: 100%;
  }
.imagen:hover{
    cursor: pointer;
    width: 100%;
  }

.modal-footer{
    color: black;
    background-color: white;
    display: block;
    width: 120%;
    border-radius:9px;
  }

.card-body{
    padding: 10px;
}

  .w-100 p{
    font-size: 12px;
    margin-bottom: 2px;
}

.seccionResponsable{
    color: white;
    text-align: center;
    background: #343a40;
    border: 1px ;
    border-radius: 9px;
    border-radius:9px;
    padding: 15px;
    margin-bottom: 10px;
    width: 90%;
    margin-left: auto !important;
    margin-right: auto !important;
}
.recibir-imagen {
    border-radius:9px;
    width: 120%;
}


@media (max-width: 1000px) {
    .recibir-imagen {
        width: 100%;
    }
    .modal-footer{
        width: 100%;
      }
}


